button {
    border-radius: 8px;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-button);
    cursor: pointer;
}

/*Navigate button styling*/
.navigate-button {
    width: 110px;
    margin: 0.5em;
    color: var(--color-basic-white);
}

.button-container .navigate-button:disabled {
    color: rgba(255, 255, 255, 0.5);
}

.navigate-button:hover {
    outline: white solid 2px;
}