@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');
:root {
    --color-button: #12519a;
    --color-basic-white: white;
    --color-basic-black: black;
    --color-bg-yellow: #f2bd00;
    --color-bg-grey: #e7e7e7;
    --color-border-grey: #9a9a9a;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-bg-yellow);
}

h1 {
    font-family: "Press Start 2P", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    line-height: 1.1;
    color: var(--color-button);
}

h2 {
    font-family: "Press Start 2P", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 0.8em;
    color: var(--color-basic-black);
}

p strong {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
}

/*footer p {*/
/*    margin: 1em;*/
/*}*/

